<button
  class="btn btn-success my-3"
  [routerLink]="['/products', 0, 'edit']"
  [routerLinkActive]="''"
  [routerLinkActiveOptions]="{ exact: true }"
>
  Add Product
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="bg-dark text-light" scope="col">ID</th>
      <th class="bg-dark text-light" scope="col">Name</th>
      <th class="bg-dark text-light" scope="col">Price</th>
      <th class="bg-dark text-light" scope="col">Quantity</th>
      <th class="bg-dark text-light" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of products">
      <th scope="row">{{ prod.id }}</th>
      <td>{{ prod.name }}</td>
      <td>{{ prod.price | currency }}</td>
      <td>{{ prod.quantity }}</td>
      <td class="d-flex gap-2 fs-5">
        <i
          [routerLink]="['/products', prod.id]"
          class="bi bi-eye-fill text-success"
        ></i>
        <i
          [routerLink]="['/products', prod.id, 'edit']"
          class="bi bi-pencil-square text-info"
        ></i>
        <i
          (click)="deleteProduct(prod.id)"
          class="bi bi-trash3-fill text-danger"
        ></i>
      </td>
    </tr>
    <tr *ngIf="products.length == 0">
      <td class="p-3 fw-bold text-muted text-center" [colSpan]="5">
        Your Product List is empty !
      </td>
    </tr>
  </tbody>
</table>
